<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Пример формы</title>
</head>
<body class="bod">
{% extends "sec.html" %}

{% block content %}
{% for item in param %}
<h1>Action #{{loop.index}}</h1>
<div class="mast">
    <div class="about">
        <h4>Title of activity</h4>
    </div>
    <div class="about" style="width: 140px;"></div>
    <div class="about">
        <h4>Team leader</h4>
    </div>
        <div class="about" style="width: 40px;"></div>
    <div class="about">
        <h4>Duration</h4>
    </div>
    <div class="about" style="width: 40px;"></div>
     <div class="about">
        <h4>List of collaborators</h4>
    </div>
    <div class="about" style="width: 40px;"></div>
    <div class="about">
        <h4>Hazard category</h4>
    </div>
     <div class="about" style="width: 40px;"></div>
     <div class="about">
        <h4>is finished</h4>
    </div>
    <div class="about" style="width: 40px;"></div>
</div>
<!--Добавление-->
<div class="pad">
    <div class="fir">
        <h4>{{item[0]}}</h4>
    </div>
    <div class="fir" style="width: 60px;"></div>
    <div class="fir">
        <h4>{{item[1]}}</h4>
    </div>
    <div class="fir" style="width: 80px;"></div>
    <div class="fir">
        <h4>{{item[2]}}</h4>
    </div>
    <div class="about" style="width: 100px;"></div>
     <div class="fir">
        <h4>{{item[3]}}</h4>
    </div>
       <div class="about" style="width: 100px;"></div>
     <div class="fir">
        <h4>{{item[4]}}</h4>
    </div>
    <div class="about" style="width: 100px;"></div>
     <div class="fir">
        <h4>{{item[5]}}</h4>
    </div>
     <div style="display: block">
        <a href="/editjob/{{item[6]}}" class="btn btn-warning">edit job</a>
           <a href="/delete_job/{{item[6]}}" class="btn btn-danger">delete job</a>
 </div>
</div>
<div style="height: 100px;"></div>
{% endfor %}
{% endblock %}
</body>
</html>
